*{ 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.home-header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #404258;
}

.home-header-inner{ 
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.header-content-logo{
    height: 100%;
    display: table;
    float: left;
}

.header-content-logo h1{
    color: #FFF5E4;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: 400;
}

.header-content-logo h1:hover{
    color: #FFD1D1;
    cursor: pointer;
}

.header-content-logo h1 span{
    font-weight: 100;
}

.home-header-navigation{
    float: right;
    height: 100%;
}
.home-header-navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    color: #FFF5E4;
}

.home-header-navigation:last-child{
 padding-right: 0;   
}

.home-header-navigation li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

#home-header-navigation-home:hover, #home-header-navigation-contact:hover, #home-header-navigation-about:hover, #home-header-navigation-work:hover{
    color: #FFD1D1;
    cursor: pointer;
}
